* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans Jp", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.container_small {
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

#dc_power {
  color: #fff;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  background-color: #0282f9;
}
#dc_power span:first-child {
  padding: 0 40px;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}
.menu .logo {
  height: 80px;
}
.menu .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-align: center;
  flex-grow: 1;
}
.menu .links li {
  display: inline-block;
  padding: 1rem;
}
.menu .links li a {
  text-decoration: none;
  text-transform: uppercase;
}
.menu .links li a.active {
  border-bottom: 2px solid #0282f9;
}
.menu .research {
  display: flex;
  align-items: center;
}
.menu .research #search {
  font-size: 17px;
  text-align: right;
  border: 0;
  color: #000;
  width: 90px;
  height: 30px;
}
.menu .research i {
  padding-left: 5px;
}
.menu .research .search_block {
  text-align: right;
  border-bottom: 2px solid #0282f9;
  /* &::after {
      content: "";
      display: block;
      height: 2px;
      color: #0282f9;
      width: 200px;
  } */
}

.main_comics {
  background-color: #1c1c1c;
  color: #fff;
}
.main_comics h2 {
  display: inline-block;
  background-color: #0282f9;
  padding: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.main_comics .gallery {
  display: flex;
  flex-wrap: wrap;
}
.main_comics .gallery .card {
  width: calc(100% / 6 - 10px);
  margin: 20px 5px;
}
.main_comics .gallery .card img {
  height: 180px;
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.main_comics .gallery .card h5 {
  color: #fff;
  text-transform: uppercase;
}
.main_comics .load {
  padding: 20px 0;
  text-align: center;
}
.main_comics .load .more {
  border: none;
  background-color: #0282f9;
  padding: 5px 40px;
}
.main_comics .load .more a {
  color: #fff;
  font-size: 600;
}
.main_comics .panel {
  background-color: #0282f9;
  padding: 40px 0;
}
.main_comics .panel .panel_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main_comics .panel .panel_list li {
  display: flex;
  align-items: center;
}
.main_comics .panel .panel_list li img {
  width: 60px;
  padding: 0 10px;
}
.main_comics .panel .panel_list li a {
  color: #fff;
  font-size: 14px;
}

.main_comics::before {
  content: "";
  display: block;
  height: 390px;
  background-image: url("../img/jumbotron.jpg");
  background-position: center top;
  background-size: cover;
}

.show::before {
  content: "";
  display: block;
  height: 390px;
  background-image: url("../img/jumbotron.jpg");
  background-position: center top;
  background-size: cover;
}

.show {
  position: relative;
}

.details::before {
  content: "";
  display: block;
  height: 78px;
  background-color: #0282f9;
}

.details .cover {
  position: absolute;
  top: 145px;
  left: 300px;
}
.details .container_small {
  display: flex;
  flex-wrap: wrap;
}
.details .description {
  width: 60%;
  margin-bottom: 20px;
}
.details .description h2 {
  text-transform: uppercase;
  color: #003f5e;
  line-height: 40px;
  margin-top: 21px;
  margin-bottom: 25px;
}
.details .description .buy {
  display: flex;
  background: #55ba59;
  border-bottom: 1px solid #357739;
}
.details .description .buy .buy_price {
  color: #fff;
  padding: 17px 25px 13px;
  font-size: 17px;
}
.details .description .buy .buy_status {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.details .description .buy .buy_status span {
  color: #bafd9c;
  padding: 17px 25px 13px;
}
.details .description .buy .buy_status .buy_now {
  border-left: 1px solid #357739;
  padding: 17px 25px 13px;
}
.details .description .buy .buy_status .buy_now a {
  color: #fff;
  text-transform: none;
  font-size: 14px;
}
.details .description .synopsis {
  font-size: 14px;
  line-height: 23px;
  color: #555555;
  padding: 40px 0;
}
.details .advertisement {
  width: 40%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .info {
  background-color: #f6f6f6;
  display: flex;
  padding-bottom: 80px;
}
.details .info h2 {
  font-size: 26px;
  padding: 25px 0;
}
.details .info .field {
  display: flex;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e3e3e3;
}
.details .info .field_lable {
  width: 30%;
  color: #003f5e;
  font-size: 13px;
  line-height: 40px;
}
.details .info .field_text {
  color: #00a9d9;
  width: 70%;
  padding: 12px 0;
  line-height: 16px;
  display: block;
  font-size: 12px;
}
.details .info .talent {
  width: 50%;
  padding-right: 10px;
}
.details .info .specs {
  width: 50%;
  padding-left: 10px;
}

.footer_top {
  background-image: url("../img/footer-bg.jpg");
  height: 300px;
}